html{
    margin:0;
}
body {
    background-color: #3a1f5d;
    width:100%;
    background-image:url("../Images/background-image.png");
    margin: 0;
}

h2{
    background-color:#96d1c7;
    font-family:"Monteserrat", sans-serif;
    margin-top: 0;
}

/*css for navbar starts here*/

header {
    background-color: transparent;
    width:100%;
    height: auto;
}

nav {
    width:100%;
    display:flex;
    justify-content:flex-start;
}

.navbar-content, .icon-content{
  list-style-type: none;
  width:48%;
  height:auto;
}

.navbar-content{
    float:left;

}

.navbar-content li {
    display:inline-block;
    padding:10px 0 10px 0;
}

.icon-content li{
    float:right;
}

a{
    text-decoration:none;
    text-align:center;
    font-family:"Monteserrat", sans-serif;
    font-size:1.2rem;
    color:#e15249;
    padding:20px 45px 20px 45px;
}

.pages:hover{
    background-color:rgba(0,0,0,0.3);
}

/* css for navbar ends here */

/*css for footer starts here */

footer{
    padding:2% 100px 2% 100px;
    background-color:#533D5C;
    text-align:center;
    font-family:"Monteserrat", sans-serif;
}

h3 {
    color:#000;
}

footer p{
    color:#000;
}

.flaticon-link{
    text-decoration:none;
    color:  #2c1c33;
    font-size:1.2rem;
    padding:5px;
}

/*css for footer ends here */
